/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/ev-application-service.h
/ev-daemon-service.h
/ev-marshal.c
/ev-marshal.h
/evince
/evince-convert-metadata
/evinced
/so_locations
/tags
