#ev-fullscreen-toolbar {
    -GtkToolbar-shadow-type: none;
}

#ev-loading-message {
    background-color: @info_bg_color;
    color: @info_fg_color;
    border-radius: 10px;
    padding: 10px;
}

EvView {
    background-color: @theme_bg_color;
}

EvView:selected {
    background-color: @theme_selected_bg_color;
}

EvView.document-page {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 0px;
    border-image: none;
    padding: 0;
}

EvView.document-page:active {
    border-color: @theme_selected_bg_color;
    border-style: solid;
    border-width: 1px;
    border-radius: 0px;
    border-image: none;
    padding: 0;
}
