#ev-loading-message {
    background-color: @theme_bg_color;
    color: @theme_fg_color;
    border-radius: 10px;
    padding: 10px;
}

.content-view.document-page {
    box-shadow: rgba(60, 64, 67, 0.2) 0px 2px 3px 1px, rgba(60, 64, 67, 0.3) 0px 1px 3px 1px;
    background-color: @theme_bg_color;
}

evview:selected {
    background-color: @theme_selected_bg_color;
}

evview.find-results:selected {
    background-color: alpha(@accent_bg_color, 0.3);
}

evview.find-results:active {
    background-color: alpha(@accent_bg_color, 0.6);
}

evview.document-page {
    background-color: white;
    caret-color: black;
    padding: 0;
}

evview.document-page.inverted {
    background-color: black;
    caret-color: white;
}

evsidebarthumbnails.page-thumbnail {
    background-color: white;
    border: 1px solid black;
}

evsidebarthumbnails.page-thumbnail.inverted {
    background-color: black;
}

evpresentationview {
    background-color: black;
}

evpresentationview.white-mode {
    background-color: white;
}

.inline-toolbar {
    border-width: 0 0 1px;
    border-radius: 0;
}

.content-view .combo {
    padding-left: 2px;
    padding-right: 2px;
}

.tnum {
    font-feature-settings: "tnum";
}

searchbar.evsearchbox box {
    padding-left: 0px;
    padding-right: 0px;
    border-spacing: 0px 6px;
}

.ev-author-label {
    opacity: 0.55;
    font-size: 82%;
}

#ev-recent-view gridview child {
    margin: 6px;
}
