.content-view.document-page {
    box-shadow: rgba(60, 64, 67, 0.2) 0px 2px 3px 1px, rgba(60, 64, 67, 0.3) 0px 1px 3px 1px;
    background-color: @theme_bg_color;
}

EvView {
    background-color: @theme_bg_color;
}

EvView:selected {
    background-color: @theme_selected_bg_color;
}

EvView.document-page {
    background-color: white;
    padding: 0;
}
