*~
*/*~
*/*/*~
*/*/*/*~
*.orig
*.rej
*/*.orig
*/*.rej
*/*/*.orig
*/*/*.rej
*/*/*/*.orig
*/*/*/*.rej
INSTALL
Makefile.in
*/Makefile.in
*/*/Makefile.in
*/*/*/Makefile.in
*/*/*/*/Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.h.in
config.sub
configure
depcomp
gnome-doc-utils.make
gtk-doc.make
help/reference/*.bak
help/reference/*.stamp
help/reference/html
help/reference/tmpl/*.sgml.bak
help/reference/xml
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
ltmain.sh
missing
mkinstalldirs
po/Makefile.in.in
