/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.gitignore
/.libs
/ChangeLog
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/INSTALL
/Makefile
/Makefile.in
/TAGS
/_libs
/aclocal.m4
/autom4te.cache
/autoscan.log
/backend/Makefile.in
/backend/comics/Makefile.in
/backend/djvu/Makefile.in
/backend/dvi/Makefile.in
/backend/dvi/mdvi-lib/Makefile.in
/backend/impress/Makefile.in
/backend/pdf/Makefile.in
/backend/pixbuf/Makefile.in
/backend/ps/Makefile.in
/backend/tiff/Makefile.in
/build/gnome/po/Makefile.in
/build/maemo5-x86/po/Makefile.in
/compile
/config.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.lt
/config.status
/config.status.lineno
/config.sub
/configure
/configure.lineno
/configure.scan
/cut-n-paste/Makefile.in
/cut-n-paste/evinfobar/Makefile.in
/cut-n-paste/gedit-message-area/Makefile.in
/cut-n-paste/gimpcellrenderertoggle/Makefile.in
/cut-n-paste/smclient/Makefile.in
/cut-n-paste/toolbar-editor/Makefile.in
/cut-n-paste/totem-screensaver/Makefile.in
/cut-n-paste/zoom-control/Makefile.in
/data/Makefile.in
/data/icons/16x16/Makefile.in
/data/icons/16x16/actions/Makefile.in
/data/icons/16x16/apps/Makefile.in
/data/icons/22x22/Makefile.in
/data/icons/22x22/actions/Makefile.in
/data/icons/22x22/apps/Makefile.in
/data/icons/24x24/Makefile.in
/data/icons/24x24/actions/Makefile.in
/data/icons/24x24/apps/Makefile.in
/data/icons/32x32/Makefile.in
/data/icons/32x32/actions/Makefile.in
/data/icons/48x48/Makefile.in
/data/icons/48x48/actions/Makefile.in
/data/icons/48x48/apps/Makefile.in
/data/icons/Makefile.in
/data/icons/scalable/Makefile.in
/data/icons/scalable/apps/Makefile.in
/depcomp
/evince-document-2.25.pc
/evince-view-2.25.pc
/gnome-doc-utils.make
/gtk-doc.make
/help/Makefile.in
/help/reference/Makefile.in
/help/reference/libdocument/Makefile.in
/help/reference/libview/Makefile.in
/help/reference/shell/Makefile.in
/install-sh
/intltool-extract
/intltool-extract.in
/intltool-merge
/intltool-merge.in
/intltool-update
/intltool-update.in
/libdocument/Makefile.in
/libmisc/Makefile.in
/libtool
/libview/Makefile.in
/ltmain.sh
/missing
/mkinstalldirs
/omf.make
/po/*.gmo
/po/*.mo
/po/.intltool-merge-cache
/po/Makefile
/po/Makefile.in
/po/Makefile.in.in
/po/POTFILES
/po/evince.pot
/po/stamp-it
/previewer/Makefile.in
/properties/Makefile.in
/shell/Makefile.in
/so_locations
/stamp-h1
/tags
/test/Makefile.in
/thumbnailer/Makefile.in
/xmldocs.make
