stages:
    - build

master:
    image: registry.gitlab.gnome.org/gnome/evince/master-amd64:latest
    stage: build

    script:
        - ./autogen.sh --enable-debug --enable-nautilus
        - make

    artifacts:
        when: on_failure
        paths:
        - config.log
        expire_in: 2 days

meson:
    image: registry.gitlab.gnome.org/gnome/evince/master-amd64:latest
    stage: build
    when: manual

    script:
        - meson _build
        - ninja -C _build all

    artifacts:
        when: on_failure
        paths:
        - _build/meson-logs/meson-log.txt
        expire_in: 2 days

meson-gtk-doc:
    image: registry.gitlab.gnome.org/gnome/evince/master-amd64:latest
    stage: build
    when: manual

    script:
        - meson -Dgtk_doc=true _build
        - ninja -C _build all libevdocument-doc libevview-doc evince-doc

    artifacts:
        when: on_failure
        paths:
        - _build/meson-logs/meson-log.txt
        expire_in: 2 days

gtk-doc:
    image: registry.gitlab.gnome.org/gnome/evince/master-amd64:latest
    stage: build
    when: manual

    script:
        - ./autogen.sh --enable-nautilus --enable-gtk-doc
        - make

    artifacts:
        when: on_failure
        paths:
        - config.log
        expire_in: 2 days

flatpak:
    image: registry.gitlab.gnome.org/gnome/gnome-runtime-images/gnome:master
    stage: build
    only:
        refs:
            - master

    before_script:
        - dnf install -y flatpak-builder flatpak

    script:
        - ./build-aux/flatpak/local-build.sh

    artifacts:
        when: on_success
        paths:
        - build-aux/flatpak/org.gnome.Evince.flatpak
        expire_in: 2 days
