*~
*/*~
*/*/*~
*/*/*/*~
*/*/*/*/*~
*.orig
*.rej
*/*.orig
*/*.rej
*/*/*.orig
*/*/*.rej
*/*/*/*.orig
*/*/*/*.rej
*/*/*/*/*.orig
*/*/*/*/*.rej
.deps
*/.deps
*/*/.deps
*/*/*/.deps
*/*/*/*/*.deps
.libs
*/.libs
*/*/.libs
*/*/*/.libs
*/*/*/*/*.libs
*.o
*/.o
*/*/.o
*/*/*/.o
*/*/*/*/*.o
*/.lo
*/*.lo
*/*/*.lo
*/*/*/*.lo
*/*/*/*/*.lo
*.la
*/*.la
*/*/*.la
*/*/*/*.la
*/*/*/*/*.la
INSTALL
Makefile
*/Makefile
*/*/Makefile
*/*/*/Makefile
*/*/*/*/Makefile
Makefile.in
*/Makefile.in
*/*/Makefile.in
*/*/*/Makefile.in
*/*/*/*/Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.h.in
config.h
config.log
config.status
config.sub
configure
depcomp
gnome-doc-utils.make
gtk-doc.make
help/reference/*.bak
help/reference/*.stamp
help/reference/*/html
help/reference/*/tmpl/*.sgml.bak
help/reference/*/xml
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
ltmain.sh
missing
mkinstalldirs
po/Makefile.in.in
po/*.mo
po/*.gmo
po/POTFILES
thumbnailer/*.schemas
help/*/.xml2po.mo
*.pc
backend/*/*.evince-backend
stamp-*
*/stamp-*
*/*/stamp-*
*/*/*/stamp-*
*/*/*/*/stamp-*
*marshal.[ch]
*/*marshal.[ch]
*/*/*marshal.[ch]
*/*/*/*marshal.[ch]
*typebuiltins.[ch]
*/*typebuiltins.[ch]
*/*/*typebuiltins.[ch]
*/*/*/*typebuiltins.[ch]
*/*/*/*/*typebuiltins.[ch]
*type-builtins.[ch]
*/*type-builtins.[ch]
*/*/*type-builtins.[ch]
*/*/*/*type-builtins.[ch]
*/*/*/*/*type-builtins.[ch]
data/*.schemas
data/*.desktop.in
data/*.desktop
cut-n-paste/toolbar-editor/eggmarshalers.c
cut-n-paste/toolbar-editor/eggmarshalers.h
*/*.gir
*/*.typelib
libdocument/ev-version.h
libtool
po/.intltool-merge-cache
shell/ev-application-service.h
shell/evince
thumbnailer/evince-thumbnailer
help/??*/evince.xml
help/*.omf
help/reference/*/html*
help/reference/*/xml*
help/reference/*/version.xml

