/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.gitignore
/.libs
/EvinceView-2.25.gir
/EvinceView-2.25.typelib
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/ev-view-marshal.c
/ev-view-marshal.h
/ev-view-type-builtins.c
/ev-view-type-builtins.h
/libevview.la
/so_locations
/stamp-ev-view-type-builtins.h
/tags
