/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/evince-thumbnailer
/evince-thumbnailer-comics.schemas
/evince-thumbnailer-djvu.schemas
/evince-thumbnailer-dvi.schemas
/evince-thumbnailer-ps.schemas
/evince-thumbnailer.schemas
/so_locations
/tags
