/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/gimpwidgetsmarshal.c
/gimpwidgetsmarshal.h
/libgimpcellrenderertoggle.la
/so_locations
/tags
/xgen-wmc
/xgen-wmh
