/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*/*.omf.out
/*/.xml2po.mo
/*~
/.*.sw[nop]
/.deps
/.gitignore
/.libs
/C/evince.xml
/C/legal.xml
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/bg/bg.po
/bg/evince.xml
/ca/ca.po
/ca/evince.xml
/cs/cs.po
/cs/evince.xml
/de/de.po
/de/evince.xml
/el/el.po
/el/evince.xml
/en_GB/en_GB.po
/en_GB/evince.xml
/es/es.po
/es/evince.xml
/eu/eu.po
/eu/evince.xml
/evince-C.omf
/evince-bg.omf
/evince-ca.omf
/evince-cs.omf
/evince-de.omf
/evince-el.omf
/evince-en_GB.omf
/evince-es.omf
/evince-eu.omf
/evince-fi.omf
/evince-fr.omf
/evince-it.omf
/evince-ja.omf
/evince-nl.omf
/evince-oc.omf
/evince-pt_BR.omf
/evince-ru.omf
/evince-sr.omf
/evince-sv.omf
/evince-uk.omf
/evince-vi.omf
/evince-zh_CN.omf
/fi/evince.xml
/fi/fi.po
/fr/evince.xml
/fr/fr.po
/it/evince.xml
/it/it.po
/ja/evince.xml
/ja/ja.po
/nl/evince.xml
/nl/nl.po
/oc/evince.xml
/oc/oc.po
/pt_BR/evince.xml
/pt_BR/pt_BR.po
/ru/evince.xml
/ru/ru.po
/so_locations
/sr/evince.xml
/sr/sr.po
/sv/evince.xml
/sv/sv.po
/tags
/uk/evince.xml
/uk/uk.po
/vi/evince.xml
/vi/vi.po
/zh_CN/evince.xml
/zh_CN/zh_CN.po
