/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/html
/html-build.stamp
/html.stamp
/libevview-decl-list.txt
/libevview-decl.txt
/libevview-undeclared.txt
/libevview-undocumented.txt
/libevview-unused.txt
/libevview.args
/libevview.hierarchy
/libevview.interfaces
/libevview.prerequisites
/libevview.signals
/scan-build.stamp
/sgml-build.stamp
/sgml.stamp
/so_locations
/tags
/tmpl-build.stamp
/tmpl.stamp
/tmpl/*.bak
/tmpl/libevview-unused.sgml
/version.xml
/xml
