/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/evince-decl-list.txt
/evince-decl.txt
/evince-undeclared.txt
/evince-undocumented.txt
/evince-unused.txt
/evince.args
/evince.hierarchy
/evince.interfaces
/evince.prerequisites
/evince.signals
/html
/html-build.stamp
/html.stamp
/scan-build.stamp
/sgml-build.stamp
/sgml.stamp
/so_locations
/tags
/tmpl-build.stamp
/tmpl.stamp
/tmpl/*.bak
/tmpl/evince-unused.sgml
/version.xml
/xml
