/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/eggmarshalers.c
/eggmarshalers.h
/eggtypebuiltins.c
/eggtypebuiltins.h
/libtoolbareditor.la
/so_locations
/stamp-eggmarshalers.c
/stamp-eggmarshalers.h
/stamp-eggtypebuiltins.c
/stamp-eggtypebuiltins.h
/tags
