/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/html
/html-build.stamp
/html.stamp
/libevdocument-decl-list.txt
/libevdocument-decl.txt
/libevdocument-undeclared.txt
/libevdocument-undocumented.txt
/libevdocument-unused.txt
/libevdocument.args
/libevdocument.hierarchy
/libevdocument.interfaces
/libevdocument.prerequisites
/libevdocument.signals
/scan-build.stamp
/sgml-build.stamp
/sgml.stamp
/so_locations
/tags
/tmpl-build.stamp
/tmpl.stamp
/tmpl/*.bak
/tmpl/libevdocument-unused.sgml
/version.xml
/xml
